body {
    padding: 0;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.top-nav {
    padding: 14px 40px;
    height: 10px;
    overflow: hidden;
}
/* Tulisan nav bar home dll.  */

.top-nav a {
    color: #fff;
    padding: 20px 40px;
    float: left;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

/* bayangan saat klik bar atas */

.top-nav a:hover:not(.active){
    color: #851414;
}

.header {
    background-image: url(images/backgroundatas.jpg);
    height: 700px;
    background-size: cover;
    background-position: center;
}

/* navbar atas */

ul {
    float: right;
    width: 50%;
    list-style-type: none;
    margin-top: 10px;
}
/* nvbar kotak */

ul li a {
    text-decoration: none;
    color: #fff;
    border: 0.5px solid rgb(185, 57, 53);
    border-style: hidden;
    transition: 0.5s;
}

/* Size Icon Atas Kanan */
.logo img{
    padding: 10px 50px;
    float: left;
    width: 70px;
    height: 70px;
}
/* Setingaan Nama WEB Pojok kiri */

.header-logo {
    font-family: 'Sriracha', cursive;
    letter-spacing: 7px;
    color: #ffffff;
    font-size: 25px;
    padding: 23px 90px;
    float: left;
}
/* background tengah */ 
.hero {
    background: rgb(229, 226, 226);
    background-image: url(images/);
    height: 900px;
    width: 100%;
    padding-top: 20px;
}
/* menu pilihan yang paling enak  */
.recipe {
    margin: 0 100px;
    overflow: hidden; 
}
.recipe .reciperight {
    float: left;
    width: 40%; 
}
/* setingan judul menu pilihan yang paling enak */
.recipe .reciperight h2 {
    font-weight: 700;
    font-size: 3em;
    margin-bottom: 20px;
    padding: 70px;
    margin-top: 0;
    font-family: 'Sriracha', cursive; 
}
/* setingan font tengah */
.recipe .reciperight p {
    line-height: 2em;
    font-size: large;
    padding: 1px; 
    font-weight: 500px;
}
.recipe .recipeleft {
    float: left;
    width: 50%;
    margin-right: 100px; 
}
.recipe .recipeleft img {
    padding: 70px;
    width: 60%;
    float: left;
}
/* Menu pilihan yang paling enak */

/* tulisan tengah */
.title {
  font-size: 55px;
  padding: 100px 100px;
  color: rgb(253, 124, 124);
  letter-spacing: 10;
  text-align: left;
  padding: 35px 70px;
  font-family: 'Caveat', cursive;
}


/* Judul tengah p */
.title p {
    text-align: left;
    color: rgb(227, 230, 227);
    margin-bottom: 30px; 
    font-size: 20px;
    width: 40%; 
    font-family: 'Sriracha', cursive;
}
/* tombol yuk pesan sekarang */
.title a {
    display: inline-block;
    background-color: rgb(233, 141, 113);
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 20px 60px;
    border-radius: 50px;
    font-size: 20px;
    border-bottom: 3px solid #c47a6e;
    margin-top: 35px; 
    transition: 0.5s;
    font-family: 'Quantico', sans-serif;
}
/* tombol yuk pesan sekarang */
.title a a:hover:not(.active){
    color: #e94117;
}
.lesson-wrapper {
    background: rgb(229, 226, 226);
    height: 800px;
    padding-bottom: 90px;
    text-align: center;
}
/* judul menu roti */
.heading h2 {
    padding: 0 60px;
    text-align: center;
    font-family: 'Sriracha', cursive;
}
/* judul menu  roti */

/* setingan menu roti */
.lesson {
    background-position: center;
    float: left;
    width: 20%;
    padding-top: 3px;
    min-height: calc(100vh - 211px - 50px);
}
.lesson img {
    height: 250px;
}
.lesson img{
    background: rgb(226, 228, 233);
    margin: 10px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: -1px 1px 16px 3px #97d5da;
}
/* setingan menu roti */

/* tengah */
.heading {
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 100px;
    color: #000000;
}

/* warna font icon */
.box {
    color: #be2222a8;
}
/* mengatur icon service dl */
.box .col-4 {
    width: 25%;
    padding-top: 0vh;
    box-sizing: border-box;
    float: left;
}
/* icon service dll */

.icon {
    width: 70px;
    height: 70px;
    border: 0px solid;
    text-align: center;
    margin: 0 auto;
}
/* footer */

footer {
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 25px;
    clear: both;
}

audio{
    background-color: #777777;
    padding: 10px;
    width:300px;
    border-radius: 100px;
}
.html {
    scroll-behavior: smooth;
}








  


